BOT_TOKEN=8211878704:AAHt1qhJvaLhNU6Fkc7VuSvknBUnfo4TLkI
DATABASE_URL=p'postgresql://neondb_owner:npg_ZYAeyjO0EQr3@ep-green-wildflower-ad9a6ia0.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
